extends layout

block content
  h1 Ride Share
  p.lead
    | Share rides with facebook friends.
    br
    | Made for the second Israeli Bitcoin hackathon.
  .row
    .col-sm-4
      form(method='POST')
        input(type='hidden', name='_csrf', value=token)
      a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
