extends layout

block content
  h2 I am a
  .row
    .col-sm-4
      form(method='POST', role='form', action='/search')
        input(type='hidden', name='_csrf', value=token)
        .radio-inline
          label
            input#rider.radioImageSelect(type='radio', name='ridetype', value='rider', data-image='img/rider.png')
        .radio-inline
          label
            input#driver.radioImageSelect(type='radio', name='ridetype', data-image='img/driver.png', value='driver')
        .form-group
          label(for='from')
            i.fa.fa-compass
            | Going from
          input#from.form-control(name='from', placeholder='origin')
        .form-group
          label(for='to')
            i.fa.fa-compass
            | Going to
          input#to.form-control.typeahead(name='to', placeholder='destination' data-provide='typeahead' autocomplete='off')
        button.btn.btn-default(type='submit') Search
