doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{title} - Ride Share
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7crFXaprj1OEUa-t28t8pQOeV3a_qPMU&sensor=true')
    != css('styles')
    != js('application')
  body
    #wrap
      include partials/navigation
      .container
        include partials/flash
        block content
    include partials/footer
