extends layout

block content
  if thisride.driver
    h2 People looking for rides
  else
    h2 Drivers offering rides
  ul.search-rides
    for ride in rides
      li.well.well-sm
        img.search-image(src='#{ride.picture}')
        .search-item.details
          .search-ride-name #{ride.name}
          .search-ride-from from #{ride.from}
          .search-ride-to to #{ride.to}
